body {
    background-image: url(https://git.techelevator.com/campuses/nlr/may-2022/java-yellow/student-code/colton-baumgard-student-code/-/raw/main/module-3/01_Intro_HTML_CSS/exercise/Images/iyAUt-siMrvvoNq_U3BPj-transformed.jpeg);
    animation-duration: 3s;
    animation-name: slidein;
    background-attachment: scroll;
    -moz-background-clip: padding;
}

title {
    font-size: large;
}

header {
    font-size: xxx-large;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(0, 255, 85);
    -webkit-text-stroke: 2px rgb(0, 72, 105);
    background: rgba(0, 0, 0, 0.2);
} 

h1 {
    text-align: center;
    color: green;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 255, 85);
    -webkit-text-stroke: 1px rgb(0, 72, 105);
    font-style: italic;
    
}
h2 {
    color: green;
    text-align: center;
    font-size: xx-large;
}
p {
    text-align: center;
    color: green;
}
h3 {
    text-align: center;
    color: rgb(0, 255, 85);
    -webkit-text-stroke: 0.5pt rgb(0, 72, 105);
    font-size: x-large;
    background: rgba(0, 0, 0, 0.2);
    
}
h4 {
    font-size: x-large;
    text-align: center;
    color: rgb(0, 255, 85);
    -webkit-text-stroke: 0.5pt rgb(0, 72, 105);
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
section {
    background: rgba(0, 0, 0, 0.2);
    
    
}
#page {
    background: rgba(0, 0, 0, 0.2);
}
#links-section {
    background: rgba(0, 0, 0, 0.2);
}
div {
    text-align: center;
}

