body {
    background-color: black;
    background-image: url(https://www.watermarkremover.io/6bb2891c-651f-43a5-8f7a-ac4b7746747d);
    
}
title {
    font-size: large;
}
p {

}
header {
    font-size: xxx-large;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
} 

