body {
    background-color: black;
    background-image: url(https://git.techelevator.com/campuses/nlr/may-2022/java-yellow/student-code/colton-baumgard-student-code/-/raw/main/module-3/01_Intro_HTML_CSS/exercise/Images/iyAUt-siMrvvoNq_U3BPj-transformed.jpeg);
}

title {
    font-size: large;
}

header {
    font-size: xxx-large;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
} 

h1 {
    text-align: center;
}

