* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}

ul {
  margin: 0;
  padding: 0;
}
aside {
  width: 200px;
  border: 1px solid rgba(0, 173, 238, 0.4);
  position: fixed;
  height:100%;
}
main {
  margin-left: 200px;
  padding: 2%;
}
li {
  text-align: center;
  text-transform: uppercase;
  width: 75%;
  border-bottom: 1px solid rgba(0, 173, 238, 0.4);
  margin-left: 10%;
  list-style: none;
  margin-bottom: 10%;
  padding: 5%;
  
}
a {
  font-weight: bold;
  color: #00ADEE;
  text-decoration: none;

}
div {
  width: 33%;
  display: inline-block;
  padding: 5%;
  border-left: 1px solid rgba(170, 239, 135, 0.8);
}
h2 {
  color: #8CC36F;
}
i {
  margin-inline: 3%;
}
aside > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}
li:first-of-type {
  text-decoration: underline;
}
main > header > img {
  height: 100px;
  margin-bottom: 2%;
}
main > img {
  width: 100%;
  margin-bottom: 1%;
}

